<!DOCTYPE html>
<html>
    <head>
        <title>Dane z formularza</title>
    </head>
    <body>
        <h1>Dane</h1>
        <table border="1">
            <tr>
                <th>Imię i Nazwisko</th>
                <th>Data urodzenia</th>
                <th>Zawód</th>
                <th>Status studenta</th>
                <th>Miejsce zamieszkania</th>
            </tr>
            <tr>
                <th>{{name}}</th>
                <th>{{birthdate}}</th>
                <th>{{profession}}</th>
                <th>{{student_status}}</th>
                <th>{{location}}</th>
            </tr>
        </table>
    </body>
</html>